@import url("https://fonts.googleapis.com/css2?family=Basier+Square:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
